<%- include("../partials/header") %>
<div class="container" style="width:35%;margin:25px auto;">
    <h3 style="text-align: center;">Edit <%= tarot.name %></h3>
    <form action="/tarot/<%= tarot._id %>?_method=PUT" method="POST" enctype='multipart/form-data'>
        <div class="form-group">
            <label for="edutarotName">Name of card</label>
            <input type="text" class="form-control" name="name" value='<%= tarot.name %>'>
        </div>
        <div class="form-group">
            <label for="edutarotImageUpload">Image URL</label>
            <input type="file" class="form-control" name="image" accept="image/*">
        </div>
        <div class="form-group">
            <label for="edutarotDesc">Description</label>
            <input type="text" class="form-control" name="desc" value='<%= tarot.desc %>'>
        </div>        
        <button type="submit" class="btn btn-outline-primary" style="float: right;">Confirm</button>
  </form>
</div>  
<%- include("../partials/footer") %>
