<%- include("../partials/header") %>
<h1><%= tarot.name %></h1>
<img src=<%= '../uploads/'+ tarot.image %> class="img-fluid"> 
<p><%= tarot.desc %></p>
<p>สร้างโดย <%= tarot.author.username %></p>
<% if(currentUser && tarot.author.id.equals(currentUser._id)){ %> 
<a class="btn btn-xs btn-warning" href='/tarot/<%= tarot._id %>/edit'>Edit</a>
<form id="delete-form" action="/tarot/<%= tarot._id %>?_method=DELETE" method="POST">       
    <button class="btn btn-xs btn-danger">Delete</button>
</form>
<% } %>
<p>
    <a class="btn btn-primary" href='/tarot/<%= tarot._id %>/comments/new'>Add new comment</a>
</p>
<% tarot.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
        <a class="btn btn-xs btn-warning" href='/tarot/<%= tarot._id %>/comments/<%= comment._id %>/edit'>Edit</a>
        <form id="delete-form" action="/tarot/<%= tarot._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">       
            <button class="btn btn-xs btn-danger">Delete</button>
        </form>
    <% } %>   
<% }) %>
<%- include("../partials/footer") %>